<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
    <!-- <script type="text/javascript" src="../assets/js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../assets/css/bootstrap.css"/>-->
    <script type="text/javascript" src="../assets/js/vue.min.js"></script>
    <STYLE type="text/css">
    </STYLE>
</head>
<body>
<div id="app">
    <input type="number" v-model="counter">
    <my-component :count = "counter"></my-component>
    <button @click="MyAlert">点我</button>
</div>
<SCRIPT>
    Vue.component("myComponent",{
        props:["count"],
        template:'<div><button @click="count++">{{count}}</button></div>'

    })
    var vm =  new Vue({
        el:'#app',
        data:{
            counter:5
        },
        methods:{
            MyAlert:function () {
                alert(this.counter)
            }

        }
    })
</SCRIPT>
</body>
</html>