<!DOCTYPE html>
<html lang="en" ng-app="a">
<head>
    <meta charset="UTF-8">
    <title>计算器</title>
    <script type="text/javascript"src="../angular.js"></script>
</head>
<body ng-controller="calc">
    <div>单价：<input type="number" ng-model="price"></div>
    <div>数量：<input type="number" ng-model="num"></div>
    <div>总价：{{totalPrice()}}</div>
<script type="text/javascript">
    function calcControl($scope) {
        $scope.price =10;
        $scope.num =2;
        $scope.totalPrice = function () {
            return $scope.price * $scope.num;
        }
    }
    var app =angular.module("a",[]);
    app.controller("calc",calcControl);
</script>
</body>
</html>